* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #FFF;
    font-size: 18px;
    background: #07154E url("../images/bg circles.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}

h1 {
    font-family: Outfit, sans-serif;
    color: #FFF;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 70px */
    text-transform: capitalize; 
}

h2 {
    font-family: Outfit, sans-serif;
    color: #FFF;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 58px */
    text-transform: capitalize;
}

.section-top {
    font-family: Outfit, sans-serif;
    color: #95D4D5;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Navigation Styling */

.nav-container {
    width: 1065px;
    height: 72px;
    flex-shrink: 0;
    margin-top: 129px;
    margin-bottom: 70px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

nav ul {
    display: flex;
}

nav .logo {
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.5px; /* 137.5% */
    text-transform: uppercase;
}

.menu li {
    list-style: none;
    margin-right: 65px;
}

.menu li:nth-last-of-type(1) {
    margin: 0;
}

.menu li a {
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 137.5% */
    text-transform: lowercase;
    text-decoration: none;
}

/* Hero Section Styling */

.hero {
    width: 1065px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero h1 {
    max-width: 360px;
    margin: 32px 0;
}

.hero p {
    max-width: 355px;
    margin-bottom: 70px;
}

.hero .hero-text {
    flex: 1;
}

.hero .hero-text a {
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 255px;
    height: 76px;
    flex-shrink: 0;
    border-radius: 83px;
    text-decoration: none;
    padding: 23px 74px;
}

.hero .hero-text .buy {
    background: #8E8EDB;
    margin-right: 15px;
}

.hero .hero-text .sell {
    border: 1px solid #A3D6D7;
}

/* Featured Section Styling */

.featured {
    margin-top: 88px;
}

.featured h2 {
    font-family: Outfit, sans-serif;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.featured .image-container {
    border-radius: 7px;
    background: rgba(62, 51, 134, 0.46);
    text-align: center;
    width: 1064px;
    height: 100px;
}

.featured img {
    margin: auto;
    padding-right: 60px;
    padding-top: 10px;
    display: inline-block;
    vertical-align: middle;
}

.featured img:nth-last-of-type(1) {
    padding-right: 0px;
}

/* About (Analytics) Section Styling */

#about {
    margin-top: 118px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1065px;
}

#about .section-top {
    margin-top: 31px;
}

#about h2 {
    margin-top: 21px;
    width: 526px;
}

#about p {
    margin-top: 21px;
    width: 435px;
    margin-bottom: 44px;
}

#about a {
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 255px;
    height: 76px;
    flex-shrink: 0;
    border-radius: 83px;
    text-decoration: none;
    padding: 23px 74px;
    background: #8E8EDB;
}

#about img {
    width: 507px;
}

/* App Section Styling */

#app {
    margin-top: 84px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1065px;
}

#app .section-top {
    margin-top: 77px;
}

#app h2 {
    margin-top: 21px;
    width: 538px;
}

#app .sub-text {
    margin-top: 25px;
    width: 435px;
    margin-bottom: 50px;
}

#app a {
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 255px;
    height: 76px;
    flex-shrink: 0;
    border-radius: 83px;
    text-decoration: none;
    padding: 23px 74px;
    background: #8E8EDB;
}

#app img {
    width: 491px;
}

/* Testimonial Card Styling */

.testimonials-header {
    text-align: center;
}

.testimonial-cards {
    display: flex;
}

.testimonial {
    text-align: center;
    border-radius: 20px;
    background: #212268;
    width: 345px;
    height: 233px;
    flex-shrink: 0;
}

.testimonial h3 {
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.testimonial p {
    font-size: 16px;
}

/* Ready Section Styling */

.ready {
    border-radius: 30px;
    background: linear-gradient(283deg, #95D4D5 -28.18%, #6565E2 98.61%);
    width: 1065px;
    height: 416px;
    flex-shrink: 0;
    margin: auto;
    text-align: center;
}

.ready h2 {
    font-family: Outfit, sans-serif;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 55px;
}

.ready p {
    font-family: Outfit, sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 58px */
    text-transform: capitalize;
    padding-top: 43px;
    padding-bottom: 66px;
}

.ready a {
    font-family: Outfit, sans-serif;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 23px 74px;
    border-radius: 83px;
    background: #000;
    text-decoration: none;
}

.ready a:hover {
    color: #8E8EDB;
    transition: 500ms;
}

/* Footer Styling */

footer .footer-logo {
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

footer h2 {
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

footer a {
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 31px; /* 193.75% */
}

footer a:hover {
    color: #8E8EDB;
    transition: 500ms;
}