* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #FFF;
    background: #07154E url("../images/bg circles.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}

h1 {
    font-family: Outfit, sans-serif;
    color: #FFF;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 70px */
    text-transform: capitalize; 
}

h2 {
    font-family: Outfit, sans-serif;
    color: #FFF;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 58px */
    text-transform: capitalize;
}

.section-top {
    font-family: Outfit, sans-serif;
    color: #95D4D5;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Navigation Styling */

.nav-container {
    width: 1065px;
    height: 72px;
    flex-shrink: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

nav ul {
    display: flex;
}

nav .logo {
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.5px; /* 137.5% */
    text-transform: uppercase;
}

.menu li {
    list-style: none;
    margin-right: 65px;
}

.menu li:nth-last-of-type(1) {
    margin: 0;
}

.menu li a {
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 137.5% */
    text-transform: lowercase;
    text-decoration: none;
}

/* Featured Section Styling */

.featured h2 {
    font-family: Outfit, sans-serif;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
}